* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  display: block;
  background-color: black;

  /* Required to use 'pointermove' event in mobile devices  */
  touch-action: none;
}
