* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
  font-family: monospace;
}

#canvas {
  display: block;
  background-color: black;

  /* Required to use 'pointermove' event in mobile devices  */
  touch-action: none;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 3px 5px;
  white-space: nowrap;
}

nav {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.4rem 1.5rem;
  pointer-events: none;
}
nav a {
  pointer-events: all;
  text-decoration: none;
}

.nav-guide-large {
  display: flex;
  column-gap: 2rem;
}

.nav-guide-mobile {
  display: none;
  column-gap: 0.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 800px) {
  .nav-guide-large {
    display: none;
  }
  .nav-guide-mobile {
    display: flex;
  }
  nav {
    font-size: 0.8rem;
  }
}
